@font-face {
  font-family: 'GameFont';
  src: url('./game-font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold font - comment out if file doesn't exist */
/* @font-face {
  font-family: 'GameFont';
  src: url('./game-font-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

